
node_modules/
client/node_modules/
server/node_modules/


.client/
.next/
dist/
out/
build/
server/dist/


npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.env
.env.*.local
.env.local
client/.env
client/.env.local
server/.env
server/.env.local


supabase/.temp/
.supabase/
.supabase/**


.DS_Store
Thumbs.db


.vscode/*
!.vscode/extensions.json


.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# lockfiles 
package-lock.json
yarn.lock
pnpm-lock.yaml

projectboard.csv
importissues.sh
import_issues.sh
import_issues.mjs
server/testPrisma.js
client/eslint.config.mjs
toboard.sh

client/README.md
server/prisma/migrations/migration_lock.toml
server/prisma/dev.db
server/prisma/dev.db-journal
tests
client/jsconfig.json
client/next.config.mjs
LeftZoro.png
css
css/App.css
TIMELINE.md
CURRENTSTATUS.md
.vercel
